TELEGRAM_BOT_TOKEN=8828005418:AAG7q0Vczc6QVBOxgRk3j2jCHrvCoHUtEUY
EMAIL_DOMAIN=loxasb.dpdns.org
FORWARD_EMAIL=loxasblessed44@gmail.com
CLOUDFLARE_API_KEY=your_cloudflare_api_key
CLOUDFLARE_EMAIL=loxasblessed44@gmail.com
CLOUDFLARE_ZONE_ID=ba248cb06ed8fdc1a8f4e4ac3138da3b
API_SECRET=generate_a_strong_secret_here
API_URL=http://localhost:3000
PORT=3000